html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    
    background-image: linear-gradient(180deg, rgb(0, 3, 63) 10%, rgb(255, 255, 255) 30%);
    background-repeat: no-repeat;
 
  }

  



  #submit{
    background-color: #560058;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    position: absolute;
    margin-top: 5%;
    margin-left: -23%;
  }
  
  #submit:hover {
    background-color: #374151;
  }
  
  #submit:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    #submit {
      padding: .75rem 1.5rem;
    }
  }
  .login-box {
    position: absolute;
    margin-top: -5%;
    width: 100%;
    height: 35%;
    top: 30%;
    left: 50%;
  
    padding: 5%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(240, 233, 233);
    border-radius: 100px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(255, 255, 255);
    text-align: center;
  
  }
  
  .login-box .user-box {
    position: relative;
  }

  
  .login-box .user-box input {
    width: 150%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid   rgb(0, 0, 0);
    outline: none;
    background: transparent;

  }

  .login-box:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0%;
    padding: 10px 0;
    font-size: 16px;
    color:  rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
 
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    position: absolute;
    top: -25px;
    left: 0%;
    color: #05000000;
    font-size: 12px;
  }
  
  


  #toText{
    color: red;
  }
 


  input[type="date"] {
    font-family: Papyrus ;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 20px;


  }


  #flightDiv{
    margin-top: 20%;
    margin-left:10%;

    width:80%;
    padding: 1%;
    border-radius: 10px;
    
    z-index:5;
  }



#flightDivChildID{


 position: relative;
 margin-top: -7%;
  height: 30%;
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
}

#flightDivChildID:hover{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100&family=Nunito:wght@200&family=PT+Sans&display=swap');


#flightDivGrandChildID{

  position: absolute;
  margin-top: 8%;
  margin-left: 10%;

font-family: 'verdana';
  font-size: 40px;
  width :20%;
}

#flightDivGrandChildID_city{
  display:none;
}


#flightDivGrandChildID:hover #flightDivGrandChildID_city{

  position: absolute;
  display:block;
  font-size: 30px;
  margin-top: -45%;
  margin-left: -30%;
  width: 100%;
 
 
}



#flightDivGrandChildID1{

  position: absolute;
  margin-top: 9%;
  margin-left: 28%;
  
font-family: 'verdana';
  font-size: 20px;
  width :20%;
}

#flightDivGrandChildID1_city{
  display:none;
}

#flightDivGrandChildID1:hover #flightDivGrandChildID1_city{

  position: absolute;
  display:block;
  font-size: 30px;
  margin-top: -40%;
  margin-left: -30%;
}

#flightDivGrandChildID2{

  position: absolute;
  margin-top: 9%;
  margin-left: 42%;
  
font-family: 'verdana';
  font-size: 20px;
  width :20%;

}

#flightDivGrandChildID2_city{
  display:none;
}

#flightDivGrandChildID2:hover #flightDivGrandChildID2_city{

  position: absolute;
  display:block;
  font-size: 30px;
  margin-top: -40%;
  margin-left: -20%;
}


#flightDivGrandChildID3_1{

  position:absolute;
  margin-top: 8%;
  margin-left: 28%;
  
font-family: 'verdana';
  font-size: 40px;
  width: 20%;
}


#flightDivGrandChildID3_city{
  display:none;
  width: 200%;
}

#flightDivGrandChildID3_1:hover #flightDivGrandChildID3_city{

  position: absolute;
  display:block;
  font-size: 30px;
  margin-top: -38%;
  margin-left: -30%;
}

#flightDivGrandChildID3_2{

  position:absolute;
  margin-top: 8%;
  margin-left: 43%;
  
font-family: 'verdana';
  font-size: 40px;
  width :30%;
  
}



#flightDivGrandChildID3_2:hover #flightDivGrandChildID3_city{

  position: absolute;
  display:block;
  font-size: 30px;
  margin-top: -28%;
  margin-left: -30%;

 
}

#flightDivGrandChildID3_3{

  position:absolute;
  margin-top: 8%;
  margin-left: 57%;
  
font-family: 'verdana';
  font-size: 40px;
  width:20%;
}



#flightDivGrandChildID3_3:hover #flightDivGrandChildID3_city{

  position: absolute;
  display:block;
  font-size: 30px;
  margin-top: -38%;
  margin-left: -30%;
}



#flightDivGrandChildPriceID{

  position: relative;
  margin-top: 10%;
  margin-left: 90%;
  font-family: 'verdana';
  font-size: 45px;
  padding: 3%;
  height: 69%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#flightDivGrandChildCurrID{

  position: absolute;
  margin-top: -5%;
  margin-left: 0%;
  font-family: 'verdana';
  font-size: 15px;
  padding: 6%;
  height: 38%;
}

#flightDivGrandChildDurationID{

  position: relative;
  margin-top: -26.5%;
  margin-left: 70%;
  font-family: 'verdana';
  font-size: 25px;
  padding: 5%;
  height: 68%;
  border-radius: 10px;

}



#line1{

  position: absolute;
  height: 1px;
  border: 1px;
  background: black;
  width: 150px;
  margin-top: -23px;
  margin-left: 95px;
}
#line2{

  position: absolute;
  height: 1px;
  border: 1px;
  background: black;
  width: 150px;
  margin-top: -15px;
  margin-left: 50px;
}
#line3{

  position: absolute;
  height: 1px;
  border: 1px;
  background: black;
  width: 150px;
  margin-top: -15px;
  margin-left: 48px;
}


#flightDivGrandChildID1_airline{

  text-decoration: none;
  position: absolute;
  margin-top: 8%;
  margin-left: 19.5%;
}


#flightDivGrandChildID2_airline{

  
  position: absolute;
  margin-top: 8%;
  margin-left: 34%;
}

#flightDivGrandChildID3_airline1{

  position: absolute;
  margin-top: 8%;
  margin-left: 19%;
}

#flightDivGrandChildID3_airline2{

  position: absolute;
  margin-top: 8%;
  margin-left: 35%;
}

#flightDivGrandChildID3_airline3{

  position: absolute;
  margin-top: 8%;
  margin-left: 48.5%;
}

#flightDivGrandChildID_time{

  text-decoration: none;
  position: absolute;
  margin-top: 12%;
  margin-left: 10%;
  font-size: 16px;
}

#flightDivGrandChildID1_time{

  text-decoration: none;
  position: absolute;
  margin-top: 12%;
  margin-left: 24%;
  font-size: 12px;
}
#flightDivGrandChildID2_time{

  text-decoration: none;
  position: absolute;
  margin-top: 12%;
  margin-left: 38%;
  font-size: 12px;
}
#flightDivGrandChildID3_time1{

  text-decoration: none;
  position: absolute;
  margin-top: 12%;
  margin-left: 28%;
  font-size: 16px;
}
#flightDivGrandChildID3_time2{

  text-decoration: none;
  position: absolute;
  margin-top: 12%;
  margin-left: 43%;
  font-size: 16px;
}
#flightDivGrandChildID3_time3{

  text-decoration: none;
  position: absolute;
  margin-top: 12%;
  margin-left: 56%;
  font-size: 16px;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 30%;
  margin-left: 45%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(0, 1, 58);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/*
.dl{
  text-decoration: none;
  color: rgb(0, 3, 63);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 2px;
  border: solid;
  border-radius: 20px;
}

.dl:hover{
  font-size: 20px;
  color:blue ;
}
*/

/* CSS */
.dl {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .975rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: -10px;
  position: relative;
}

.dl:hover {
  background-color: rgb(249,250,251);
}

.dl:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dl:focus-visible {
  box-shadow: none;
}



#flightDivHead1{
  font-family: Papyrus ;
  margin-left: 0%;
  position: absolute;
  font-size: 30px;
  margin-top: 0%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 80%;
  border-radius: 10px;
  height:4%;
}
#flightDivHead2{
  font-family: Papyrus ;
  margin-left: 61%;
  margin-top: 0%;
  position: absolute;
  font-size: 30px;
}
#flightDivHead3{
  font-family: Papyrus ;
  margin-left: 74%;
  margin-top: 0%;
  font-size: 30px;
  position: absolute;
}
